/ CONTENT -------------------------------------------------------------------------------
/ Intro Section
%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1{"data-background-img" => asset_path("app_theme/theme/general/img/full/17.jpg")}
	.container
		.row.title
			%h2.h2 Faq
			.page-breadcrumb
				%a> Home
				\/
				%span Faq
/ End Intro Section
/ Faq Section
%section.ptb.ptb-sm-80
	.container
		%h3.text-center Frequently asked question
		.spacer-60
		/ Accordion
		.accordion
			.accordion-section
				%h6.accordion-title How tough is Kick Dummy? Will it split?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
			.accordion-section
				%h6.accordion-title Will the Kick Dummy fall over?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
			.accordion-section
				%h6.accordion-title Do I need a pump to inflate Kick Dummy?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			.accordion-section
				%h6.accordion-title How can I store away Kick Dummy?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			.accordion-section
				%h6.accordion-title What's on the DVD?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			.accordion-section
				%h6.accordion-title What should I wear when using Kick Dummy?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			.accordion-section
				%h6.accordion-title How do I put clothing on Kick Dummy?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			.accordion-section
				%h6.accordion-title But, WHY can't I find my own artist?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
			.accordion-section
				%h6.accordion-title I'm a writer, not an illustrator. Do I need a dummy?
				.accordion-content
					%p Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel
					%p Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
		/ End Accordion
/ Faq Section
/ End CONTENT ----------------------------------------------------------------------------
