/ FOOTER
%footer.footer.pt-80
	.container
		.row.mb-60
			/ Logo
			.col-md-3.col-sm-3.mb-xs-30
				%a.footer-logo{:href => "home.html"}
					%img{:src => image_path("app_theme/theme/general/img/logo-black.png")}/
			/ Logo
			/ Newsletter
			.col-md-4.col-sm-5.mb-xs-30
				.newsletter
					%form
						%input.newsletter-input.input-md.newsletter-input.mb-0{:placeholder => "Enter Your Email", :type => "email"}
							%button.newsletter-btn.btn.btn-xs.btn-white{:type => "submit", :value => ""}
								%i.fa.fa-angle-right.mr-0
			/ End Newsletter
			/ Social
			.col-md-3.offset-md-2.col-sm-4
				%ul.social
					%li
						%a{:href => "https://www.twitter.com/", :target => "_blank"}
							%i.fa.fa-twitter
					%li
						%a{:href => "https://instagram.com/", :target => "_blank"}
							%i.fa.fa-instagram
					%li
						%a{:href => "https://www.facebook.com/", :target => "_blank"}
							%i.fa.fa-facebook
					%li
						%a{:href => "https://vimeo.com/", :target => "_blank"}
							%i.fa.fa-vimeo-square
					%li
						%a{:href => "https://www.behance.net/", :target => "_blank"}
							%i.fa.fa-behance
			/ End Social
		/ Footer Info
		.row.footer-info.mb-60
			.col-md-3.col-sm-12.mb-sm-30
				%p.mb-xs-0 Our ante tincidunt tempus, Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.
				%a.btn-link-a{:href => "about-1.html"} Read More
			.col-md-3.col-sm-6.mb-sm-30.mb-xs-0
				%ul.link
					%li
						%a{:href => "blog-grid-3col.html"} Blog
					%li
						%a{:href => "portfolio-grid-3col.html"} Portfolio
					%li
						%a{:href => "login-register.html"} Login	Signup
					%li
						%a{:href => "faq-1.html"} FAQ
					%li
						%a{:href => "about-1.html"} About
					%li
						%a{:href => "service-1.html"} Service
			.col-md-3.col-sm-6.mb-sm-30
				%ul.link
					%li
						%a{:href => swell_media.new_contact_path() } Contact Us
					%li
						%a{:href => "shop-checkout.html"} Shopping Cart
					%li
						%a{:href => "404-error-1.html"} 404 Error
					%li
						%a{:href => "home.html"} Home
			.col-md-3.col-sm-12
				%p 502, DieSachbearbeiter, Schönhauser Allee, 167c10435 Berlin,Germany.
				%ul.link-small
					%li
						%a{:href => "mailto:yourname@domain.com"}
							%i.fa.fa-envelope-o.left>
							yourname@domain.com
					%li
						%a
							%i.fa.fa-phone.left>
							+40 (0) 012 345 6789
		/ End Footer Info
		%hr/
		/ Copyright Bar
		%section.copyright.ptb-60
			.container
				%p
					\© #{Time.current.year}
					= succeed "." do
						%a{ href: swell_media.root_url }
							%b #{SwellMedia.app_name}
					%br/
					Lovingly crafted by
					%a{:href => "http://www.groundswellenterprises.com/", :target => "_blank"}
						%b Groundswell Enterprises
		/ End Copyright Bar
	/ END FOOTER
	/ Scroll Top
	%a.scroll-top
		%i.fa.fa-angle-double-up
	/ End Scroll Top
