/ Sidemenu
%section#pushmenu-right.pushmenu.pushmenu-right.side-menu
	%a#menu-sidebar-close-icon.menu-close
		%i.ion.ion-android-close
	%h5.white Sign In
	.sign-in
		%input#email.input-sm.form-full{"aria-required" => "true", :name => "email", :placeholder => "Email", :type => "email", :value => ""}/
		%input#password.input-sm.form-full{"aria-required" => "true", :name => "password", :placeholder => "Password", :type => "password", :value => ""}/
		%input.btn.btn-md.btn-color-b.form-full{:type => "submit", :value => "Sign In"}/
		%a New Customer?
	%ul
		%li
			%a.all-demos-link{:href => "../demo.html", :target => "_blank"} Main Demo Page
		%li
			%a{:href => "home.html"} Home Default
		%li
			%a{:href => "portfolio-grid-2col.html"} Portfolio
		%li
			%a{:href => "login-register.html"} Login	Signup
		%li
			%a{:href => "faq-1.html"} FAQ
		%li
			%a{:href => "about-1.html"} About
		%li
			%a{:href => "service-1.html"} Service
		%li
			%a{:href => "blog-grid-3col.html"} Blog
		%li
			%a{:href => "404-error-1.html"} 404 Error
		%li
			%a{:href => "shop-checkout.html"} Shopping Cart
		%li
			%a{:href => "contact-1.html"} Contact Us
/ End Sidemenu
