/ Footer Section
%footer#footer.footer.section-padding.gray-bg
	.container.text-center
		/ Footer Logo
		.footer-logo.mb-25.wow.fadeInUp{"data-wow-duration" => "1.5s"}
			%a.scroll-top{:href => "#intro"}
				%img{:alt => "mazel", :src => image_path("app_theme/theme/onepage/img/logo-dark.png")}/
		/ End Footer Logo
		/ Copyright
		%p.copyright.mb-25
			© 2015
			= succeed "." do
				%a
					%b Mazel Template
			%br/
			Template by
			%a{:href => "http://nileforest.com/", :target => "_blank"}
				%b nileforest
		/ Copyright
		/ Social
		%ul.social
			%li
				%a{:href => "https://www.facebook.com/", :target => "_blank"}
					%i.fa.fa-facebook
			%li
				%a{:href => "https://www.twitter.com/", :target => "_blank"}
					%i.fa.fa-twitter
			%li
				%a{:href => "https://www.linkedin.com/", :target => "_blank"}
					%i.fa.fa-linkedin
			%li
				%a{:href => "https://plus.google.com/", :target => "_blank"}
					%i.fa.fa-google-plus
		/ End Social
/ End Footer Section
