/ Sidebar
.col-lg-3.col-md-3.mt-sm-30
	.sidebar-widget
		%h5 Search
		.widget-search
			%input#wid-search.form-full.input-lg{:name => "search", :placeholder => "Search Here", :type => "text", :value => ""}/
			%input#wid-s-sub{:name => "email", :type => "submit", :value => ""}/
	.sidebar-widget
		%h5 Categories
		%hr/
		%ul
			%li
				%a Photography
			%li
				%a Web Design
			%li
				%a Lifestyle
			%li
				%a Responsive
			%li
				%a MultiPurpose Theme
			%li
				%a Agency
			%li
				%a Portfolio
	.sidebar-widget
		%h5 Recent Post
		%hr/
		%ul.widget-post
			%li
				%a.widget-post-media
					%img{:src => "img/portfolio/21.jpg"}/
				.widget-post-info
					%h6
						%a veritatis et quasi
					.post-meta
						%span March 16, 2015
			%li
				%a.widget-post-media
					%img{:src => "img/portfolio/32.jpg"}/
				.widget-post-info
					%h6
						%a Sed fringilla mauris
					.post-meta
						%span March 09, 2015
			%li
				%a.widget-post-media
					%img{:src => "img/portfolio/31.jpg"}/
				.widget-post-info
					%h6
						%a harum quidem rerum
					.post-meta
						%span March 04, 2015
	.sidebar-widget
		%h5 popular Tags
		%hr/
		%ul.widget-tag
			%li
				%a Art
			%li
				%a Business
			%li
				%a Design
			%li
				%a Graphic
			%li
				%a fashion
			%li
				%a Model
			%li
				%a Photography
/ End Sidebar
