/ CONTENT -------------------------------------------------------------------------------
/ Intro
%section#intro.intro
	/ Static Intro
	.bg-image.parallax.parallax-background2
		.full-screen-intro.container{:style => "min-height: 400px;"}
			.intro-content
				.intro-content-inner
					%h1.large.mb-25 404 Error
					%p.lead.content-wd650
						The change you wanted was rejected.
					%p Maybe you tried to change something you didn't have access to.
					%br/
					%a.btn.btn-md.btn-black{:href => swell_media.root_path()}
						%i.fa.fa-angle-left.left>
						Back To Home
	/ End Static Intro
/ End Intro
/ End CONTENT ----------------------------------------------------------------------------
