= javascript_include_tag 'application', "data-turbolinks-track" => true, "data-turbolinks-eval" => false
%script{:async => "", "data-pin-hover" => "true", "data-pin-save" => "true", "data-pin-tall" => "true", :defer => "defer", :src => "//assets.pinterest.com/js/pinit.js"}
= render 'application/analytics'